<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <link th:href="@{/tema/Login.css}" rel="stylesheet">
</head>
<body>
<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
  </div>

  <form method="post" th:action="@{/auth/loginJwt}">
    <label for="correo">Correo</label>
    <input type="email" id="correo" name="correo" required>

    <label for="contraseña">Contraseña</label>
    <input type="password" id="contraseña" name="contraseña" required>

    <button type="submit">Entrar</button>

    <a th:href="@{/cliente/Registro}" class="btn btn-success" style="margin-top: 1rem;">
      📝 Registrarse
    </a>
  </form>

</div>
</body>
</html>
